.git/
.vscode/
__pycache__/
.mypy_cache/
log/
data/

# Distribution / packaging
.Python
puzzles/build/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.pyc
*__pycache__*
*.so

# Environments
.env
.venv
env/
venv/
py3venv/
rlpvenv/
ENV/
env.bak/
venv.bak/
